*.o
*.lo
Makefile
docs/libs/*
autom4te.cache
config.h
.deps
.libs
*.la
*.pc
config.log
config.status
docs/version.entities
examples/test-appsrc
examples/test-auth
examples/test-launch
examples/test-mp4
examples/test-multicast
examples/test-multicast2
examples/test-ogg
examples/test-readme
examples/test-sdp
examples/test-uri
examples/test-video
examples/test-wfd
gst-rtsp.spec
libtool
stamp-h1
tests/test-cleanup
tests/test-reuse
